<%- include ('partials/header') -%>

<div class="ui main text container">
    <div class="ui huge header">Blog App</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                        <img  src="<%= blog.image %>">
                    </div>
                    <br><br>
                    <div class="content">
                        <a class = "header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                    </div>
                    <br><br>
                    <div class="meta">
                        <span><%= blog.created.toDateString() %></span>
                    </div>
                    <br><br>
                    <div class="description">
                        <p><%- blog.body.substring(0, 100) %></p>
                    </div>
                    <br><br>
                    <div class="extras">
                        <a class="ui floated basic voilet button" href="/blogs/<%= blog._id %>">
                            Read More
                            <i class="right chevron icon"></i>
                        </a>
                    </div>    
                </div>
            <% })%>
        </div>
    </div>
</div>

<%- include ('partials/footer') -%>